<nav class="nav-bar">
  <div class="flex-container-1">
    <div class="flex-element">
      <span class="flex-element-text"><a routerLink=''>IdentityByExamples</a></span>
    </div>

    <div class="flex-element">
      <span class="flex-element-text"><a routerLink='/home'>Home</a></span>
    </div>

    <div class="flex-element">
      <span class="flex-element-text"><a routerLink='/employees'>Employees</a></span>
    </div>
  </div>

  <div class="flex-container-2">
    <div class="flex-element">
      <span class="flex-element-text"><a routerLink='/login'>Login</a></span>
    </div>

    <div class="flex-element">
      <span class="flex-element-text"><a routerLink='/registration'>Register</a></span>
    </div>
  </div>

</nav>
